<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">components</directory>
            <directory suffix="Test.php">helpers</directory>
        </testsuite>
    </testsuites>
</phpunit>